<%- include('wave.ejs') %>
<footer class="footer">
  <div class="container" style="padding: 20px;">
    <div class="footer-clm" style="justify-content: space-between;">
<!--       <div class="clm">
        <img class="fo-image animate-img" src="<%= bot.user.displayAvatarURL() %>">
      </div> -->
      <div class="clm">
        <span class="clm-title"><strong>Navigation</strong></span>
            <ul class="list-unstyled text-small">
              <li><a href="/">Home</a></li>
              <li><a href="/invite">Invite</a></li>
              <li><a href="/support">Support</a></li>
              <li><a href="/account">Account</a></li>
            </ul>
      </div>
      <div class="clm">
        <span class="clm-title"><strong>Social Media</strong></span>
        <ul class="list-unstyled text-small">
          <li><a href="https://twitter.com/2106Vins" target="_blank">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>