<%- include('wave.ejs') %>
<footer class="footer">
  <div class="container" style="padding: 20px;">
    <div class="footer-clm" style="justify-content: space-between;">
      <div class="clm">
        <img class="fo-image animate-img" src="<%= bot.user.displayAvatarURL() %>">
      </div>
      <div class="clm">
        <span class="clm-title">Navigation</span>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="/">Home</a></li>
              <li><a class="text-muted" href="/invite">Invite</a></li>
              <li><a class="text-muted" href="/support">Support</a></li>
            </ul>
      </div>
    </div>
  </div>
</footer>