<%- include('wave.ejs') %>
<footer class="footer">
  <div class="container" style="padding: 20px;">
    <div class="footer-clm">
      <div class="clm">
        <img class="fo-image" src="<%= bot.user.displayAvatarURL() %>">
      </div>
      <div class="clm">
        <span class="clm-title">Navigation</span>
        <ul>
          <li class="clm-item">Home</li>
          <li class="clm-item">Commands</li>
          
        </ul>
      </div>
    </div>
  </div>
</footer>