<%- include('wave.ejs') %>
<footer class="footer">
  <div class="container" style="padding: 20px;">
    <div class="footer-clm" style="justify-content: space-between;">
<!--       <div class="clm">
        <img class="fo-image animate-img" src="<%= bot.user.displayAvatarURL() %>">
      </div> -->
      <div class="clm">
        <span class="clm-title"><strong>Navigation</strong></span>
            <ul class="list-unstyled text-small">
              <li><a href="/">Home</a></li>
              <li><a href="/invite">Invite</a></li>
              <li><a href="/support">Support</a></li>
              <li><a href="/account">Account</a></li>
            </ul>
      </div>
      <div class="clm">
        <span class="clm-title"><strong>Social Media</strong></span>
        <ul class="list-unstyled text-small">
          <li><a href="https://twitter.com/2106Vins" target="_blank">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script> -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>
<script>
$(window).on("load", () =>{
  AOS.init({
    once: true
  })
})
</script>