<!-- Primary Meta Tags -->
<meta charset="utf-8">
<meta name="robots" content="all">
<title>Bee3-Team/Bee3 Discord bot</title>
<meta name="description" content="Manage your discord server with easy to use dashboard, play music without lag, and much features">
<meta name="keywords" content="bee3, discord bot, bot, beee, powerful bot, powerful">
<meta name="theme-color" content="#ffd700">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="https://cdn.glitch.com/136d7709-13b1-47e0-8093-10e69dec318f%2Fc486ca32f76d4be026cf675b5bc83927.ico?v=1628014430216">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://beee.cf/">
<meta property="og:title" content="Bee3-Team/Bee3 Discord bot">
<meta property="og:description" content="Manage your discord server with easy to use dashboard, play music without lag, and much features">
<meta property="og:image" content="<%= bot.user.displayAvatarURL() %>">

<!-- Twitter -->
<meta property="twitter:url" content="https://beee.cf/">
<meta property="twitter:title" content="Bee3-Team/Bee3 Discord bot">
<meta property="twitter:description" content="Manage your discord server with easy to use dashboard, play music without lag, and much features">
<meta property="twitter:image" content="<%= bot.user.displayAvatarURL() %>">

<script async src="https://arc.io/widget.min.js#uNQR8h7F"></script>
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="manifest" href="/manifest.json">
<script data-ad-client="ca-pub-8220206347645814" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
