<title>Bee3 - Powerful bot</title>
<link rel="icon" href="<%= bot.user.displayAvatarURL(); %>">
<meta name="title" content="Bee3 - Powerful bot">
<meta name="description" content="Auto Mod, Music, Leveling (coming soon), and much more!">
<meta name="keywords" content="bee3, bee3 discord bot, bee3 website, beee website, beee cf, bee3 powerful">
<meta name="theme-color" content="#ffd700">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

<meta property="og:type" content="website">
<meta property="og:url" content="https://beee.cf">
<meta property="og:title" content="Bee3 - Discord Bot">
<meta property="og:description" content="Auto Mod, Music, Leveling (coming soon), and much more!">
<meta property="og:image" content="<%= bot.user.displayAvatarURL() %>">

<script async src="https://arc.io/widget.min.js#uNQR8h7F"></script>
<link rel="stylesheet" type="text/css" href="/style.css">