<title><%= lost ? "404" : bot.user.username %></title>
<link rel="icon" href="<%= bot.user.displayAvatarURL(); %>">
<link rel="stylesheet" href="/style.css">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

<meta property="og:type" content="website">
<meta property="og:site_name" content="beee.cf">
<meta property="og:title" content="Powerful bot">
<meta property="og:description" content="Auto Mod, Music, Leveling, and much more!">
<meta property="og:image" content="<%= bot.user.displayAvatarURL(); %>">
<meta name="theme-color" content="#ffd700">