<title><%= lost ? "404" : bot.user.username %></title>
<link rel="icon" href="<%= bot.user.displayAvatarURL(); %>">
<link rel="stylesheet" href="/style.css">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta property="og:type" content="website">
<meta property="og:site_name" content="beee.cf">
<meta property="og:title" content="Powerful bot">
<meta property="og:description" content="Auto Mod, Music, Leveling, and much more!">
<meta property="og:image" content="https://cdn.glitch.com/aecf0968-8a7c-4d27-8eaf-2eaabfa9989e%2F93c44b0f-4111-49c3-a398-700d8eca9bdd.image.png?v=1618671187834">
<meta name="twitter:card" content="summary_large_image">
<meta name="theme-color" content="#ffd700">    