<title><%= bot.user.username %></title>
<link rel="icon" href="<%= bot.user.displayAvatarURL(); %>">
<link rel="stylesheet" href="style.css">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">