<script>
    	$(window).load(function() {
		// Animate loader off screen
		setTimeout(() => {
      $(".se-pre-con").fadeOut("slow");;
    }, 2000)
	});
</script>
<style>
.se-pre-con {
  overflow-z: hidden !important;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100vh;
	z-index: 9999;
  background-color: #ffd700;
  text-align: center;
}
  
  .loading-image {
    margin-top: 21%;
    border-radius: 50%;
    box-shadow: 1px 3px 10px black;
  }
</style>
<div class="se-pre-con">
  <img class="loading-image animate-img" src="<%= bot.user.displayAvatarURL() %>">
  <h1>
    Loading...
  </h1>
</div>  