  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000" data-autohide="false">
    <div class="toast-header">
      <strong class="mr-auto">beee.cf says:</strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      Welcome to <strong><%= bot.user.username %></strong> website!!<br>
    </div>
    <div class="toast-footer">
      <a href="/support">&copy; vins development</a>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  $('.toast').toast('show');
});  
</script>