.commands-list {
	text-align: center;
	justify-content: center;
	display: grid;
	grid-template-columns: auto;
	padding: 10px;
}

.command {
	background-color: #36393f;
	margin-bottom: 10px; 
	padding: 5px; 
	border-radius: 3px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: auto;
	min-width: 160px;
	max-width: 210px;
	margin-left: 10px;
	margin-right: 10px;
} 

.command .disabled {
  cursor: not-allowed !important;
}

.command-title {
	color: white;
	font-weight: 500;
	font-size: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
    width: auto;
    max-width: 141px;	
}

.switch_1 {
	margin-inline-start: 10px !important;
}

input[type="checkbox"].switch_1{
	font-size: 15px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 3.5em;
	height: 1.5em;
	background: #ddd;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked{
	background: #0ebeff;
  }
  
  input[type="checkbox"].switch_1:after{
	position: absolute;
	content: "";
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
	        box-shadow: 0 0 .25em rgba(0,0,0,.3);
	-webkit-transform: scale(.7);
	        transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked:after{
	left: calc(100% - 1.5em);
  }

@media (max-width: 992px) {
	
	.commands-list {
		grid-template-columns: auto auto auto auto;
	}
	
}

@media (max-width: 740px) {
	
	.commands-list {
		grid-template-columns: auto auto auto;
	}
	
}

@media (max-width: 600px) {
	
	.commands-list {
		grid-template-columns: auto auto;
	}
	
}

@media (max-width: 410px) {
	
	.command {
		width: 90%;
		max-width: 100%;
	}
	
	.commands-list {
		justify-content: normal;
		grid-template-columns: auto;
	}
	
}