html {
  scroll-behavior: smooth;
}

body {
  background-color: #ddede1;
  padding-top: 3.3rem;
}

.section {
  width: 100%;
  height: 100%;
}

.section:last-child(1) {
  background-color: blue !important;
}

.navbar-light .navbar-toggler {
  color: transparent;
  border-color: transparent;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-brand {
  color: rgb(0, 0, 0) !important;
}

.jumbotron {
  background-color: #1f2621;
}

.display-4 {
  font-size: 38px;
  color: white;
  text-shadow: 0px 0px 10px black;
}

.lead {
  color: white;
  text-shadow: 0px 0px 10px black;
}

.nav-link {
  background: #d1e0d5;
  margin: 6px 5px 10px 5px;
  text-align: center !important;
  transition: 1s;
  border-radius: 5px;
  color: black !important;
}

.nav-link:hover {
  box-shadow: 0px 0px 5px 2px black;
}

.project-image {
  width: 100%;
  height: auto;
}

.project-svg-1 {
  transform: rotate(180deg);
  margin-top: 30px;
  position: absolute;
}

.projects {
  margin-top: 200px;
}

.projects-title {
  text-align: center;
}

.project-list {
  margin-top: 25px;
  display: grid;
  justify-content: center;
  margin-bottom: 25px;
  grid-template-columns: auto auto auto;
}

.project {
  min-width: 250px;
  width: 250px;
  margin: 20px;
  text-align: center;
}

.skills {
  text-align: center;
  background: #1f2621;
  height: 300px;
}

.skilss-title {
  color: white;  
}

@media (min-width: 992px) {
  .nav-link {
    width: 100px;
  }

  .display-4 {
    font-size: 55px;
  }
}

@media (max-width: 900px) {
  .project-list {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 635px) {
  .project-list {
    grid-template-columns: auto;
  }
}

/* scroll bar */
::-webkit-scrollbar {
  width: 10px;
  position: fixed;
  border-radius: 16px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1f2621;
  border-radius: 20px;
}
