:root {
  --primary-color: #ffd700 !important;
}

html,
body {
  height: 100%;
  margin: 0;
  cursor: url("https://cdn.discordapp.com/attachments/817709358737129512/838085134162722867/20210502_001047.jpg"),
    auto;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  background-color: #36393f !important;
  overflow-x: hidden;
}

.main {
  min-height: 100% !important;
  margin: 0 auto !important;
  margin-top: 10px !important;
}

.navbar {
  box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.5);
  padding: 3px 16px 3px 10px !important;
}

.navbar-brand {
  font-size: 28px !important;
  font-weight: bold;
}

.navbar-image {
  border-radius: 50%;
  width: 40%;
  height: auto;
}

.nav-link {
  text-align: center;
  background-color: #27292e;
  margin-bottom: 10px;
}

.jumbotron {
  background: none !important;
}

.jumbotron-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: 90%;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.jumbotron {
  text-align: center;
}

.jumbo-img {
  width: 100%;
  height: 200px;
  display: inline-block;
}

.display-4 {
  color: yellow;
  font-weight: 400 !important;
  font-size: 50px !important;
}

.lead {
  color: white;
}

.footer {
  width: 100%;
  min-height: 50px; /* Set the fixed height of the footer here */
  background-color: #ffd700;
  margin-top: -1px;
}

.fo-image {
  border-radius: 50%;
  box-shadow: 1px 3px 10px black;
}

.footer-clm {
  display: flex;
  flex-direction: row;
}

.clm {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  margin-top: 10px;
}

li {
  list-style-type: none;
}

.navbar-nav {
  margin-top: 10px;
}

.animate-img {
  -webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite alternate;
}
@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.navbar-dark .navbar-toggler {
  color: transparent !importan;
  border-color: transparent !important;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 217, 0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

@media (min-width: 992px) {
  .nav-link {
    text-align: right;
    background-color: transparent;
    transition: 0.5s;
  }

  .nav-link:hover {
    background-color: #27292e;
  }

  .navbar-nav {
    margin-top: 0px;
  }
}

body::-webkit-scrollbar-track {
  position: absolute;
  background-color: white;
  border-radius: 10px;
}

body::-webkit-scrollbar {
  position: absolute;
  width: 10px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  position: absolute;
  border-radius: 10px;
  background-color: #ffd700;
}

.row {
  justify-content: center;
}

.col-sm {
  background-color: #ffd700;
  margin-bottom: 20px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 16px;
  width: 100px !important;
}

.card-header {
  cursor: pointer;
}

.card {
  position: relative !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  min-width: 0 !important;
  word-wrap: break-word !important;
  background-color: #20252b !important;
  background-clip: border-box !important;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 6px !important;
  margin-bottom: 10px;
  margin-top: 10px;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  color: white;
  border-radius: 16px;
}

pre {
  display: block;
  font-size: 23px !important;
  color: white !important;
  background: darkslategrey;
  padding: 1px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 23px;
  width: -webkit-fill-available;
}

.on-loading {
  overflow-y: hidden;
}

.acc {
  width: 100%;
  height: auto;
  border-radius: 16px !important;
  margin: 0 auto;
}

.acc-img {
  margin-top: 5%;
  border-radius: 50%;
  box-shadow: 1px 3px 10px black;
}

.acc-profile {
  text-align: center;
  background-color: #202225;
  padding: 10px;
  border-radius: 16px 16px 0px 0px;
}

.acc-pils {
  padding: 20px;
  background-color: #2f3136;
  border-radius: 0px 0px 16px 16px;
}

.acc-name {
  color: white;
  font-weight: 400;
}

.acc-tag {
  color: #c7c7c7;
}

.acc-pils-list {
  display: flex;
  flex-wrap: wrap;
}

.pils-item {
  margin: 3px 3px 0px;
}

.acc-pils-name {
  color: white;
}

@media (min-width: 992px) {
  .acc {
    width: 30%;
    height: auto;
    border-radius: 16px !important;
  }
}

.server-list {
  margin: 0 auto;
}

.server {
  cursor: pointer;
}

.server:hover {
  background-color: rgb(43, 43, 43, 0.5);
}

.server-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
}

.server-name {
  color: white;
  margin-inline-start: 10px;
  font-weight: 500;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1 0 1em;
}

.server-btn {
  min-width: 125px !important;
  max-width: 300px !important;
  flex-shrink: 0 !important;
  margin: auto !important;
  align-items: center !important;
  line-height: 1 !important;
  font-size: 13px !important;
  padding: 8px 25px !important;
}

.server {
  margin-top: 10px;
  margin-bottom: 10px;
}

.server-icon-name {
  flex-flow: row wrap;
  display: flex;
  align-items: center;
  min-width: 120px;
}

.table {
  max-width: 800px !important;
  margin-bottom: 1rem !important;
  color: #212529 !important;
  margin: 0 auto !important;
}

.table td,
.table th {
  padding: 5px !important;
  vertical-align: top !important;
  border-top: transparent;
  width: auto;
}

.error {
  background-color: red;
  padding: 10px;
  border-radius: 16px;
  max-width: fit-content;
  margin: 0 auto;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  transition: 0.5s;
  align-items: center;
  font-size: 13px;
}

.error-btn {
  font-size: 27px;
  float: right;
  margin-top: -2px;
  cursor: pointer;
  margin-left: 13px;
}

.refresh-btn {
  cursor: pointer;
  float: left;
  margin-left: 13px;
}

/*  */
/*  */
/*  */

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css");

.wrapper {
  display: -webkit-flex;
  display: flex;
  min-height: 100%;
}

.sidebar {
  position: absolute;
  width: 230px;
  border-radius: 16px 0px 0px 16px;
  height: -webkit-fill-available;
}

.content {
  -webkit-flex: 1;
  flex: 1;
  padding: 10px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
  border-radius: 16px;
  width: 200px;
  height: 500px;
}

.side-panel-toggle {
  cursor: pointer;
  font-size: 42px;
  display: none;
  color: #ffd700;
}

/* Demo Navigation */

.title {
  font-size: 16px;
  line-height: 50px;
  text-align: left;
  color: white;
  border-bottom: 1px solid #222;
  background: transparent;
  padding: 10px;
}

.sidebar-item .a {
  position: relative;
  display: block;
  padding: 15px 15px 15px 50px;
  font-size: 12px;
  color: #eee;
  width: 300px !important;
  cursor: pointer;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar-item .a:before {
  font: 14px fontawesome;
  position: absolute;
  top: 14px;
  left: 20px;
}

.sidebar-item .a:hover {
  background: #444 !important;
}

/* Demo Description */

h1 {
  margin: 25px 0 15px;
  font-size: 28px;
  font-weight: 400;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  color: #999;
}

@media only screen and (max-width: 768px) {
  .content {
    margin-left: 0;
  }

  .side-panel-toggle {
    display: block;
  }
}

@media only screen and (min-width: 769px) {
  .content {
    margin-left: 220px;
  }
}

#barChart {
  max-width: -webkit-fill-available !important;
  height: -webkit-fill-available !important;
  min-width: 200px !important;
  min-height: 200px !important;
  display: block !important;
  box-sizing: border-box !important;
  width: fit-content !important;
  height: 20% !important;
  -webkit-flex: 1 !important;
  background: white !important;
  box-shadow: 0 0 5px rgb(0 0 0) !important;
  border-radius: 16px !important;
}

.server-info {
  margin: 0 auto !important;
  justify-content: center;
}

.server-info-item {
  background-color: #ffd700;
  color: black;
  margin: 5px;
  padding: 5px;
  width: 100px;
  border-radius: 6px;
  text-align: center;
  font-weight: 400;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
}

.server-info-item {
  display: inline;
  position: relative;
}
.server-info-item:hover:after {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background: #444;
  border-radius: 8px;
  color: #fff;
  content: attr(title);
  margin: -82px auto 0;
  font-size: 16px;
  padding: 13px;
  width: 220px;
  transition: 0.5s;
}
.server-info-item:hover:before {
  border: solid;
  border-color: #444 transparent;
  border-width: 12px 6px 0 6px;
  content: "";
  left: 45%;
  bottom: 30px;
  position: absolute;
}

.toast-footer {
  text-align: center;
  height: auto;
  align-items: center;
  color: black;
  background-color: #ffd700;
  border-top: 1px solid grey;
}

.toast-footer a {
  color: black;
}

.toast-footer a:hover {
  color: black;
}

.graph-list {
  display: flex;
  flex-direction: column;
}

.graph {
  width: 100% !important;
  height: auto;
  background-color: #d6d6d6;
  border-radius: 7px;
  box-shadow: 0px 0px 7px black;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .graph {
    width: 45% !important;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .graph-list {
    justify-content: space-between;
    flex-direction: row;
  }
}

@media (max-width: 400px) {
  .footer-clm {
    flex-direction: column;
    text-align: center !important;
  }
}

@media (min-width: 992px) {
  .nav-link {
    margin-bottom: 0px;
  }
}

.nav-item {
  top: 50%;
}

/*  */
.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.label {
  margin-bottom: 1px !important;
  font-size: 20px;
  font-weight: 500;
  margin-left: 17px;
}

.input {
  margin-bottom: 10px;
  border: none;
  font-size: 18px;
  padding: 5px;
  background: #ffffff;
  transition: 0.5s;
  border-radius: 20px;
}

.input:focus {
  outline: none !important;
}

.input-item {
  display: flex;
  border: 1px solid #a8a8a8 !important;
  flex-direction: column;
  margin-bottom: 10px;
  padding: inherit;
  transition: 0.5s;
  background: #cfcfcf;
  border-radius: 7px;
}

.button-list {
  text-align: center;
  background-color: rgb(105, 105, 105, 0.5);
  padding: 10px;
  border-radius: 7px;
}

/*  */
.example-bot {
  padding: 10px;
  background: #36393f;
}

.example-bot-sec {
  align-items: end;
  display: flex;
}

.example-bot-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.example-bot-name {
  margin-left: 8px;
  color: white;
  font-weight: 500;
  font-size: 19px;
  line-height: 0.8;
}

.example-bot-tag {
  background: #7289da;
  height: 0.9375rem;
  font-size: 0.625rem;
  color: white;
  vertical-align: top;
  padding: 0 0.275rem;
  border-radius: 0.1875rem;
  margin-left: 0.25rem;
}

.example-bot-time {
  color: #72767d;
  font-size: 0.75rem;
  margin-left: 0.25rem;
}

.example-bot-msg {
  color: #dcddde;
  position: fixed;
  margin-left: 49px;
  margin-top: 19px;
}

/*  */
/*  */
/*  */
.tags {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

.tag {
  margin: 5px 20px 5px 5px;
  font-size: 22px;
  background: transparent;
}

.cmdlist-search {
  width: 100%;
  border: none;
  outline: none;
  font-size: 30px;
  transition: 0.5s;
  background: transparent;
  color: white;
  border-radius: 2px;
  border-bottom: 3px solid #ffd700;
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
  padding: 0px !important;
}

.tag {
  font-size: 22px;
  background: transparent;
  margin: 10px;
  text-align: center;
  background: #20252b;
  padding: 2px;
  text-align: center;
  width: auto;
  min-width: 131px;
  border-radius: 10px;
  border: 1px solid black;
}

.tag a {
  color: #ffd700 !important;
  cursor: pointer;
}

.tag a:hover {
  text-decoration: underline !important;
}

@media (max-width: 992px) {
  .tags {
    flex-direction: column;
  }
}

/*  */
/*  */
/*  */
.db-cmdlist {
  display: grid;
  grid-template-columns: auto;
}

.db-cmd {
  background: #2b2d31;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
  transition: 0.5s;
  cursor: pointer;
  color: white;
  border-left: 3px solid var(--primary);
}

.db-cmd-disable {
  background: #e0c216 !important;
  cursor: not-allowed;
}

.db-cmd:hover {
  box-shadow: 0px 0px 15px rgb(0, 0, 0);
  transform: scale(1.02);
}

.module-name {
  text-align: center;
  background: #ffd700;
  margin: 0px 10px 10px 10px;
  border-radius: 17px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 50%);
}

@media (min-width: 700px) {
  .db-cmdlist {
    grid-template-columns: auto auto;
  }
}

@media (min-width: 1009px) {
  .db-cmdlist {
    grid-template-columns: auto auto auto auto;
  }
}

/*  */
/*  */
/*  */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float: right;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: #2196F3;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.navigation {
  text-align: center;
}

.saves {
  justify-content: center;
  background: grey;
  text-align: center;
  padding: 10px;
  border-radius: 18px;
  margin: 10px;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
}

.save-btn-item {
  width: 45%;
  margin: 5px;
}

.db-cmd-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.save-btn-item {
  width: 100%;
  margin: auto;
}

.save-list {
  display: flex;
}

.reset-btn {
  color: black;
}

.reset-btn:hover {
  color: black;
}

.disabled {
  cursor: not-allowed !important;
}

.results {
  padding-inline-start: 0px !important;
  display: grid;
  grid-template-columns: auto auto auto auto;
  float: left;
}

.search-input {
  line-height: 2;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  height: 38px;
  float: left;
  margin-right: 5px;
  border-radius: 21px;
  border: none;
  margin-bottom: 5px;
  transition: 0.5s;
}

.search-input:focus {
  outline: none;
  border-radius: 10px;
}

.result {
  margin-bottom: 15px;
  text-align: center;
  width: min-content;
}

.search-btn {
  width: fit-content;
}

#result {
  text-align: center;
}

select.basic {
  width: 200px;
  height: 35px;
}
select.simple {
  background: #f5f5f5;
  border: 0;
}

select.basic.simple {
  border-radius: 10px;
}

select:focus {
  outline: none;
}

@media (max-width: 768px) {
  .results {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 543px) {
  .results {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 381px) {
  .results {
    grid-template-columns: auto;
  }

  .result {
    width: auto;
  }

  .search-input {
    width: -webkit-fill-available;
  }

  .search-btn {
    width: -webkit-fill-available;
    margin-bottom: 10px;
  }

  select.basic.simple {
    width: 100%;
  }
}

/*  */
#modal_form {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  border: 3px #000 solid;
  background: #fff;
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  display: none;
  opacity: 0;
  z-index: 5;
  padding: 20px 10px;
}

#modal_form #modal_close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block;
}

#overlay {
  z-index: 3;
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

.automod {
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background: #3b4c40;
  border: 2px solid black;
  color: white;
  min-width: 100px;
  text-align: center;
  width: -webkit-fill-available;
  height: 52px;
  min-height: 50px;
}

/*  */
/*  */
/*  */
*:focus {
  outline: none !important;
}

.my-embed {
  border-left: 5px solid var(--primary) !important;
  color: #ffd700 !important;
  box-shadow: 0 0px 15px 3px black !important;
}

.sidebar {
  top: 0;
  left: 0;
  z-index: 100;
}

.overlay {
  transition: 0.5s;
  background-color: rgb(0 0 0 / 45%);
  filter: blur(5px);
  -webkit-filter: blur(5px);
  z-index: 99;
}

#sidebar-remove-overlay {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: none;
}

@media (max-width: 350px) {
  .sidebar {
    max-width: 100% !important;
  }

  .sidebar.active {
    width: 100% !important;
  }
}

/* sidebar for small screens */
@media screen and (max-width: 767px) {
  .sidebar {
    max-width: 18rem;
    transform: translateX(-100%);
    transition: transform 0.4s ease-out;
  }

  .sidebar.active {
    transform: translateX(0);
  }

  #sidebar-remove-overlay {
    display: block;
  }
}

/*  */
.list-group-item {
  padding: 10px !important;
}

.dropdown-menu {
  left: -10px !important;
}

.btn:focus {
  box-shadow: none;
}