html,
body {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  background-color: #36393f !important;
}

.main {
  min-height: 100% !important;
  margin: 0 auto -50px !important;
}

.navbar-brand {
  font-size: 28px !important;
  font-weight: bold;
}

.navbar-image {
  border-radius: 50%;
  width: 40%;
  height: auto;
}

.nav-link {
  text-align: center;
  background-color: #27292e;
  margin-bottom: 10px;
}

.jumbotron {
  background: none !important;
}

.jumbotron-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: 90%;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.jumbotron {
  text-align: center;
}

.jumbo-img {
  width: 100%;
  height: 200px;
  display: inline-block;
}

.display-4 {
  color: yellow;
  font-weight: 400 !important;
  font-size: 50px !important;
}

.lead {
  color: white;
}

.footer {
  width: 100%;
  min-height: 50px; /* Set the fixed height of the footer here */
  background-color: #ffd700;
}

.fo-image {
  border-radius: 50%;
  box-shadow: 1px 3px 10px black;
}

.footer-clm {
  display: flex;
}

.clm {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.navbar-nav {
  margin-top: 10px;
}

.animate-img {
  -webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite alternate;
}
@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.navbar-dark .navbar-toggler {
  color: transparent !importan;
  border-color: transparent !important;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 217, 0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

@media (min-width: 992px) {
  .nav-link {
    text-align: right;
    background-color: transparent;
    transition: 0.5s;
  }

  .nav-link:hover {
    background-color: #27292e;
  }

  .navbar-nav {
    margin-top: 0px;
  }
}

body::-webkit-scrollbar-track {
  position: absolute;
  background-color: transparent;
  border-radius: 10px;
}

body::-webkit-scrollbar {
  position: absolute;
  width: 10px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  position: absolute;
  border-radius: 10px;
  background-color: #ffd700;
}

.row {
  justify-content: center;
}

.col-sm {
  background-color: #ffd700;
  margin-bottom: 20px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 16px;
  width: 100px !important;
}

.card-header {
  cursor: pointer;
}

.card {
  width: 100%;
  height: auto;
  border-radius: 16px !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

.on-loading {
  overflow-y: hidden;
}

.acc {
  width: 100%;
  height: auto;
  border-radius: 16px !important;
  margin: 0 auto;
}

.acc-img {
  margin-top: 5%;
  border-radius: 50%;
  box-shadow: 1px 3px 10px black;
}

.acc-profile {
  text-align: center;
  background-color: #202225;
  padding: 10px;
  border-radius: 16px 16px 0px 0px;
}

.acc-pils {
  padding: 20px;
  background-color: #2f3136;
  border-radius: 0px 0px 16px 16px;
}

.acc-name {
  color: white;
  font-weight: 400;
}

.acc-tag {
  color: #c7c7c7;
}

.acc-pils-list {
  display: flex;
  flex-wrap: wrap;
}

.pils-item {
  margin: 3px 3px 0px;
}

.acc-pils-name {
  color: white;
}

@media (min-width: 992px) {
  .acc {
    width: 30%;
    height: auto;
    border-radius: 16px !important;
  }
}

.server-list {
  margin: 0 auto;
}

.server {
  cursor: pointer;
}

.server:hover {
  background-color: rgb(43, 43, 43, 0.5);
}

.server-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
}

.server-name {
  color: white;
  margin-inline-start: 10px;
  font-weight: 500;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1 0 1em;
}

.server-btn {
  min-width: 125px !important;
  max-width: 300px !important;
  flex-shrink: 0 !important;
  margin: auto !important;
  align-items: center !important;
  line-height: 1 !important;
  font-size: 13px !important;
  padding: 8px 25px !important;
}

.server {
  margin-top: 10px;
  margin-bottom: 10px;
}

.server-icon-name {
  flex-flow: row wrap;
  display: flex;
  align-items: center;
  min-width: 120px;
}

.table {
  max-width: 800px !important;
  margin-bottom: 1rem !important;
  color: #212529 !important;
  margin: 0 auto !important;
}

.table td,
.table th {
  padding: 5px !important;
  vertical-align: top !important;
  border-top: transparent;
  width: auto;
}

.error {
  background-color: red;
  padding: 10px;
  border-radius: 16px;
  max-width: fit-content;
  margin: 0 auto;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  transition: 0.5s;
  align-items: center;
  font-size: 13px;
}

.error-btn {
  font-size: 27px;
  float: right;
  margin-top: -2px;
  cursor: pointer;
  margin-left: 13px;
}
