html,
body {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  background-color: #36393f !important;
  overflow-x: hidden;
}

.main {
  min-height: 100% !important;
  margin: 0 auto !important;
}

.navbar {
  box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.5);
  padding: 3px 16px 3px 10px !important;
}

.navbar-brand {
  font-size: 28px !important;
  font-weight: bold;
}

.navbar-image {
  border-radius: 50%;
  width: 40%;
  height: auto;
}

.nav-link {
  text-align: center;
  background-color: #27292e;
  margin-bottom: 10px;
}

.jumbotron {
  background: none !important;
}

.jumbotron-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: 90%;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.jumbotron {
  text-align: center;
}

.jumbo-img {
  width: 100%;
  height: 200px;
  display: inline-block;
}

.display-4 {
  color: yellow;
  font-weight: 400 !important;
  font-size: 50px !important;
}

.lead {
  color: white;
}

.footer {
  width: 100%;
  min-height: 50px; /* Set the fixed height of the footer here */
  background-color: #ffd700;
}

.fo-image {
  border-radius: 50%;
  box-shadow: 1px 3px 10px black;
}

.footer-clm {
  display: flex;
  flex-direction: row;
}

.clm {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  margin-top: 10px;
}

li {
  list-style-type: none;
}

.navbar-nav {
  margin-top: 10px;
}

.animate-img {
  -webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite alternate;
}
@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.navbar-dark .navbar-toggler {
  color: transparent !importan;
  border-color: transparent !important;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 217, 0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

@media (min-width: 992px) {
  .nav-link {
    text-align: right;
    background-color: transparent;
    transition: 0.5s;
  }

  .nav-link:hover {
    background-color: #27292e;
  }

  .navbar-nav {
    margin-top: 0px;
  }
}

body::-webkit-scrollbar-track {
  position: absolute;
  background-color: white;
  border-radius: 10px;
}

body::-webkit-scrollbar {
  position: absolute;
  width: 10px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  position: absolute;
  border-radius: 10px;
  background-color: #ffd700;
}

.row {
  justify-content: center;
}

.col-sm {
  background-color: #ffd700;
  margin-bottom: 20px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 16px;
  width: 100px !important;
}

.card-header {
  cursor: pointer;
}

.card {
  width: 100%;
  height: auto;
  border-radius: 16px !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

.on-loading {
  overflow-y: hidden;
}

.acc {
  width: 100%;
  height: auto;
  border-radius: 16px !important;
  margin: 0 auto;
}

.acc-img {
  margin-top: 5%;
  border-radius: 50%;
  box-shadow: 1px 3px 10px black;
}

.acc-profile {
  text-align: center;
  background-color: #202225;
  padding: 10px;
  border-radius: 16px 16px 0px 0px;
}

.acc-pils {
  padding: 20px;
  background-color: #2f3136;
  border-radius: 0px 0px 16px 16px;
}

.acc-name {
  color: white;
  font-weight: 400;
}

.acc-tag {
  color: #c7c7c7;
}

.acc-pils-list {
  display: flex;
  flex-wrap: wrap;
}

.pils-item {
  margin: 3px 3px 0px;
}

.acc-pils-name {
  color: white;
}

@media (min-width: 992px) {
  .acc {
    width: 30%;
    height: auto;
    border-radius: 16px !important;
  }
}

.server-list {
  margin: 0 auto;
}

.server {
  cursor: pointer;
}

.server:hover {
  background-color: rgb(43, 43, 43, 0.5);
}

.server-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
}

.server-name {
  color: white;
  margin-inline-start: 10px;
  font-weight: 500;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1 0 1em;
}

.server-btn {
  min-width: 125px !important;
  max-width: 300px !important;
  flex-shrink: 0 !important;
  margin: auto !important;
  align-items: center !important;
  line-height: 1 !important;
  font-size: 13px !important;
  padding: 8px 25px !important;
}

.server {
  margin-top: 10px;
  margin-bottom: 10px;
}

.server-icon-name {
  flex-flow: row wrap;
  display: flex;
  align-items: center;
  min-width: 120px;
}

.table {
  max-width: 800px !important;
  margin-bottom: 1rem !important;
  color: #212529 !important;
  margin: 0 auto !important;
}

.table td,
.table th {
  padding: 5px !important;
  vertical-align: top !important;
  border-top: transparent;
  width: auto;
}

.error {
  background-color: red;
  padding: 10px;
  border-radius: 16px;
  max-width: fit-content;
  margin: 0 auto;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  transition: 0.5s;
  align-items: center;
  font-size: 13px;
}

.error-btn {
  font-size: 27px;
  float: right;
  margin-top: -2px;
  cursor: pointer;
  margin-left: 13px;
}

.refresh-btn {
  cursor: pointer;
  float: left;
  margin-left: 13px;
}

/*  */
/*  */
/*  */

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css");

.wrapper {
  display: -webkit-flex;
  display: flex;
  min-height: 100%;
}

.sidebar {
  position: absolute;
  width: 230px;
  border-radius: 16px 0px 0px 16px;
  height: -webkit-fill-available;
}

.content {
  -webkit-flex: 1;
  flex: 1;
  padding: 10px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
  border-radius: 16px;
  width: 200px;
  height: 500px;
}

.side-panel-toggle {
  cursor: pointer;
  font-size: 42px;
  display: none;
  color: #ffd700;
}

/* Demo Navigation */

.title {
  font-size: 16px;
  line-height: 50px;
  text-align: left;
  color: white;
  border-bottom: 1px solid #222;
  background: transparent;
  padding: 10px;
}

.sidebar-item .a {
  position: relative;
  display: block;
  padding: 15px 15px 15px 50px;
  font-size: 12px;
  color: #eee;
  width: 300px !important;
  cursor: pointer;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar-item .a:before {
  font: 14px fontawesome;
  position: absolute;
  top: 14px;
  left: 20px;
}

.sidebar-item .a:hover {
  background: #444 !important;
}

/* Demo Description */

h1 {
  margin: 25px 0 15px;
  font-size: 28px;
  font-weight: 400;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  color: #999;
}

@media only screen and (max-width: 768px) {
  .content {
    margin-left: 0;
  }

  .side-panel-toggle {
    display: block;
  }
}

@media only screen and (min-width: 769px) {
  .content {
    margin-left: 220px;
  }
}

#barChart {
  max-width: -webkit-fill-available !important;
  height: -webkit-fill-available !important;
  min-width: 200px !important;
  min-height: 200px !important;
  display: block !important;
  box-sizing: border-box !important;
  width: fit-content !important;
  height: 20% !important;
  -webkit-flex: 1 !important;
  background: white !important;
  box-shadow: 0 0 5px rgb(0 0 0) !important;
  border-radius: 16px !important;  
}

.server-info {
  margin: 0 auto !important;
  justify-content: center;
}

.server-info-item {
  background-color: #ffd700;
  color: black;
  margin: 5px;
  padding: 5px;
  width: 100px;
  border-radius: 6px;
  text-align: center;
  font-weight: 400;
}

.server-info-item {
  display: inline;
  position: relative;
}
.server-info-item:hover:after{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background: #444;
  border-radius: 8px;
  color: #fff;
  content: attr(title);
  margin: -82px auto 0;
  font-size: 16px;
  padding: 13px;
  width: 220px;
  transition: 0.5s;
}
.server-info-item:hover:before{
  border: solid;
  border-color: #444 transparent;
  border-width: 12px 6px 0 6px;
  content: "";
  left: 45%;
  bottom: 30px;
  position: absolute;
}

.toast-footer {
  text-align: center;
  height: auto;
  align-items: center;
  color: black;
  background-color: #ffd700;
  border-top: 1px solid grey;
}

.toast-footer a {
  color: black;
}

.toast-footer a:hover {
  color: black;
}

.graph-list {
  display: flex;
  flex-direction: column;
}

.graph {
  width: 100%;
  height: auto;
  background-color: #d6d6d6;
  border-radius: 7px;
  box-shadow: 0px 0px 7px black;
}

@media (min-width: 922px) {
  .graph {
    width: 50%;
  }
  
  
}

@media (max-width: 400px) {
  .footer-clm {
    flex-direction: column;
    text-align: center !important;
  }
}

@media (min-width: 992px) {
  .nav-link {
    margin-bottom: 0px;
  }
}
/* jadi ngebug jir di hp yg nav-link :v wait :v*/
/* atur ae dah, yg penting bagus */
/* gw lagi atur footer jan chat moloe gw lagi liat, kereload mulu*/
/* pake https://beee.cf baca dm discord :v... bang itu 320px juga itungan mobile kah?*/ 

.nav-item {
  top: 50%;
}