<!DOCTYPE html>
<html>
  <head>
    <%- include('part/head.ejs') %>
    <%- include('part/bootstrapCSS.ejs') %>
  </head>
  <body>
    
    <header>
    </header>
    
    <main>
    </main>
    
    <footer>
    </footer>
    
    <%- include('part/bootstrapJS.ejs') %>
  </body>
</html>